<div id="scatola">
  <div class="row p-2 justify-content-end mb-3">
    <div class="col-md-2">
      <th scope="col">
        <button [routerLink]="['/nuovo-cliente']" class="btn mx-5 btn-success">
          Nuovo Cliente
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="white"
            class="bi bi-plus-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
            />
          </svg>
        </button>
      </th>
    </div>
    <div class="filtro col-md-3">
      <select (click)="getFiltro()" name="filtro" id="filtro">
        <option selected disabled>filtra per</option>
        <option value="id">id</option>
        <option value="fatturatoannuale">fatturato annuale</option>
        <option value="ragionesociale">ragione sociale</option>
      </select>
      <input
        *ngIf="!fatturatoValore"
        type="text"
        placeholder="inserisci un filtro"
        id="valore"
      />
      <input
        *ngIf="fatturatoValore"
        type="text"
        placeholder="da"
        id="valore1"
      />
      <input *ngIf="fatturatoValore" type="text" placeholder="a" id="valore2" />
      <button
        *ngIf="!fatturatoValore"
        type="button"
        class="btn btn-danger"
        (click)="filtra()"
      >
        Filtra
        <span
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
      <button
        *ngIf="fatturatoValore"
        type="button"
        class="btn btn-danger"
        (click)="filtraFatturato()"
      >
        cerca
        <span
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </div>
  </div>
  <div id="contenitore" class="p-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Ragione Sociale</th>
          <th scope="col">Email</th>
          <th scope="col">Partita Iva</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clienti; let i = index">
          <td>{{cliente.id}}</td>
          <td>{{cliente.ragioneSociale}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.partitaIva}}</td>
          <td>
            <button
              class="btn"
              title="info cliente"
              [routerLink]="['/dettagli-cliente', cliente.id]"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
            </button>
          </td>
          <td>
            <button
              class="btn"
              title="fatture cliente"
              [routerLink]="['/fatture-cliente', cliente.id]"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
              <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
            </svg>
            </button>
          </td>
          <td>
            <button
              class="btn"
              title="modifica cliente"
              [routerLink]="['/edit-cliente', cliente.id]"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
            </button>
          </td>
          <td>
            <button
              type="button"
              title="elimina cliente"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="getFattureCliente(cliente.id)"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Attenzione!</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div *ngIf="fattureCliente" class="modal-body">
            Il cliente selezionato ha
            <span
              *ngIf="isLoadingModale"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span
            ><span *ngIf="!isLoadingModale">{{fattureCliente.length}}</span>
            fatture, sei sicuro di voler procedere con l'eliminazione totale del
            cliente e di tutte le sue fatture?
          </div>
          <div *ngIf="!fattureCliente" class="modal-body">
            Il cliente selezionato non ha fatture, sei sicuro di voler procedere
            con l'eliminazione totale del cliente?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Chiudi
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onRemoveCliente()"
              data-bs-dismiss="modal"
            >
              Elimina
            </button>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a
            class="page-link text-black"
            style="cursor: pointer"
            (click)="cambiaPagina('-')"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link text-black">{{pagina}}</a></li>
        <li class="page-item">
          <a
            class="page-link text-black"
            style="cursor: pointer"
            (click)="cambiaPagina('+')"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
