<div id="scatola">
  <div class="row p-2 justify-content-end mb-3">
    <div class="col-md-2">
       <button [routerLink]="['/nuova-fattura']" class="btn mx-5 btn-success">
         Nuova fattura <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
           <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
         </svg>
       </button>
    </div>
     <div class="filtro col-md-3">
      <select name="filtro" id="filtro">
        <option selected disabled>filtra per</option>
        <option value="anno">anno</option>
        <option value="stato">stato</option>
      </select>
      <input type="text" placeholder="inserisci un filtro" id="valore" />
      <button type="button" class="btn btn-danger" (click)="filtra()">
        Filtra
        <span
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
     </div>
 </div>
  <div id="contenitore" class="p-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">Anno</th>
          <th scope="col">Importo</th>
          <th scope="col">Stato</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fattura of fatture; let i = index">
          <td>{{fattura.id}}</td>
          <td>{{fattura.anno}}</td>
          <td>€ {{fattura.importo}}</td>
          <td *ngIf="fattura?.stato?.nome == 'PAGATA'">{{fattura?.stato?.nome}} ✅</td>
          <td *ngIf="fattura?.stato?.nome == 'NON PAGATA'">{{fattura?.stato?.nome}} ❌</td>
          <td>
            <button
              class="btn"
              title="modifica fattura"
              [routerLink]="['/edit-fattura', fattura.id]"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg>
            </button>
          </td>
          <td>
            <button class="btn" title="elimina fattura" (click)="rimuoviFattura(fattura)">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a
            class="page-link text-black"
            style="cursor: pointer"
            (click)="cambiaPagina('-')"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link text-black">{{pagina}}</a>
        </li>
        <li class="page-item">
          <a
            class="page-link text-black"
            style="cursor: pointer"
            (click)="cambiaPagina('+')"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
