#contenitore {
  background-color: white;
  border-radius: 2em;
  width: 30em;
  height: 37em;
}

#scatola {
  padding: 2em;
  background-color: black;
  height: 100%;
}

label {
  position: relative;
  color: rgb(44, 44, 44);
background-color: white;
  font-size: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

label:nth-child(1){
  top: 1em;
  right: 12em;
  border-radius: 1em;
}

#stato {
  font-size: 1em;
  position: static;
}
