#contenitore {
  background-color: white;
  border-radius: 2em;
  width: 30em;
  height: 50em;
  overflow-y: scroll;
}

#scatola {
  padding: 2em;
  background-color: black;
  height: 100%;
}

label {
  position: relative;
  color: rgb(44, 44, 44);
  background-color: white;
  font-size: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  top: 1em;
  right: -2em;
  border-radius: 1em;
}

#label {
  position: relative;
  color: rgb(44, 44, 44);
  background-color: white;
  font-size: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  top: 2.1em;
  right: -2em;
  border-radius: 1em;
}

#stato {
  font-size: 1em;
  position: static;
}

input {
  box-shadow: 0px 4px 12px -1px #00000041;
}

h3 {
  font-weight: bold;
  font-style: italic;
}

