<div class="container text-center p-5 mt-5 rounded">
  <div class="row justify-content-center">
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
      <form #form="ngForm" (ngSubmit)="onsubmit(form)">
        <div class="form-group mb-3">
          <input ngModel name="username" class="form-control" type="text" id="username" required placeholder="Username"/>
        </div>
        <div class="form-group mb-3">
          <input ngModel name="nome" class="form-control" type="text" id="nome" required placeholder="Nome"/>
        </div>
        <div class="form-group mb-3">
          <input ngModel name="cognome" class="form-control" type="text" id="cognome" required placeholder="Cognome"/>
        </div>
        <div class="form-group mb-3">
          <input ngModel name="email" class="form-control" type="email" id="email" required placeholder="Email"/>
        </div>
        <div class="form-group mb-3">
          <input ngModel name="password" class="form-control" type="password" id="pass" required placeholder="Password"/>
        </div>
        <div class="form-group mb-3">
          <h4>Tipo di utente:</h4>
          <select ngModel name="roles" id="roles" required>
            <option value="ROLE_USER">USER</option>
          </select>
        </div>
        <button class="btn btn-primary mb-3" [disabled]="form.invalid" [disabled]="isLoading" type="submit">
          Registrati 🗝️
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </form>
      <p>Sei già registrato? <a [routerLink]="['']">Accedi</a></p>
    </div>
  </div>
