<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Ruolo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let utente of utenti;">
         <td>{{utente.id}}</td>
        <td>{{utente.username}}</td>
        <td>{{utente.email}}</td>
        <td>{{utente.roles[0].roleName}}</td>
       </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" style="cursor: pointer;" (click)="cambiaPagina('-')" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link">{{pagina}}</a></li>
      <li class="page-item">
        <a class="page-link" style="cursor: pointer;" (click)="cambiaPagina('+')" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

